.cui-layer-root.cui-layer-root-menu.cui-layer-backdrop-policy-click-thru {
  .cui-layer {
    max-width: 300px !important;
  }
}

.cui-form-field-name--searchbarInput, .cui-form-field-name--countOfSuggestions {
  border-bottom: solid 1px $border;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.cui-form-field-name--conceptName .cui-output.cui-data-field {
  max-width: 100%;
}

.cui-form-field-name--conceptSeeAlsoDisplay {
  .cui-data-field--textarea {
    max-width: 100%;    
  }
  textarea {
    width: 100%;
    border-style: none; 
    border-color: Transparent;     
    box-shadow: none;
    color: $color;
    padding-left: 0px;
  }
}

.ez5-custom-data-type-ubhdgnd .cui-horizontal-layout-left {
  padding-right: 10px
}

.ez5-admin-datamodel-check-popover .cui-form-field-name--gnd_types .cui-button-checkbox .cui-button-center span {
  white-space: pre;
}

.gnd-infobox{
  th {
    text-align: left;
    vertical-align: top;
  }
  margin: 5px;
  dd, dl {
    margin: 0px;
  }
}

.cui-tooltip.gnd-tooltip {
  max-width: none;
}

.cui-layer.gnd-types-popover > .cui-pane > .cui-vertical-layout-center > .cui-form {
  margin: 5px;
  .cui-button-checkbox .cui-button-center span {
    white-space: pre;
  }
}
