.cui-layer-root.cui-layer-root-menu.cui-layer-backdrop-policy-click-thru {
  .cui-layer {
    max-width: 300px !important;
  }
}

[cui-data-field-name="conceptSeeAlso"] {

  .cui-button-visual {
    height: 100%;

    .cui-button-center {
      max-width: 300px;
      height: 100%;
      max-height: 200px;

      & > span {
        white-space: normal;
        overflow-y: scroll;
      }
    }
  }
}

.ez5-admin-datamodel-check-popover {
    [class="cui-form-tr cui-form-field-name--value"] {
        .cui-options.cui-data-field {
            columns: 3;

            .cui-checkbox {
                display: block;
            }

            .cui-checkbox--multiline .cui-button-checkbox .cui-button-center span {
                white-space: pre;
            }
        }
    }
}
